<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%- messages() %>


<ul class="management-ul">
    <li><a href="/inv/add-classification">Add a new classification</a></li>
    <li><a href="/inv/add-inventory">Add a new vehicle</a></li>
</ul>